<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Results</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <header class="homePage">
        <h3>Results</h3>
      </header>
      <% include ../partials/search %>
  </body>
</html>
