<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/head %>
        <title>Sign Up</title>
    </head>
    <body>
      <% include ../partials/nav %>
        <div class="bigContainer">
            <div class="smallContainer">
                <h3>Sign Up Page</h3>
                <form class="formEdit" action="/users/signup" method="POST">
                    <input type="text" name="first_name" value placeholder="First Name">
                    <input type="text" name="last_name" value placeholder="Last Name">
                    <input type="text" name="username" value placeholder="Username">
                    <input type="text" name="email" value placeholder="Email">
                    <input type="password" name="password" value placeholder="Password">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                </form>
            </div>
        </div>
    </body>

</html>
