<div class="col s4 m2 l1">
  <div class="card">
    <div class="card-image">
      <a href="<%= card.link %>">
        <img class="card-sm-image" src="<%= card.photo_url %>">
        <!-- <div class="city-title card-title"><%= card.name %></div> -->
      </a>
    </div>
  </div>
</div>


<img class="homeImage"  src="images/atx.jpg">
