<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
  <title>Home</title>
</head>
<body>
  <% include ./partials/nav %>
  <div class="container">
    <header class="homePage">
      <h3> Explore a perfect day in the city.</h3>
    </header>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <a href="/plans/cities/Austin">
              <img class="homeImage"  src="images/atx.jpg">
              <div class="city-title card-title">Austin</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <a href="/plans/cities/San%20Francisco">
              <img class="homeImage" src="images/sf.jpg">
              <div class="city-title card-title">San Francisco</div>
            </a>
          </div>
        </div>
      </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <a href="/plans/cities/New%20York">
                <img class="homeImage" src="images/ny.jpg">
                <div class="city-title card-title">New York</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <a href="/plans/cities/Seattle">
                <img class="homeImage" src="images/seattle.jpg">
                <div class="city-title card-title">Seattle</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <a href="/plans/cities/Miami">
                <img class="homeImage" src="images/miami.jpg">
                <div class="city-title card-title">Miami</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <a href="/plans/cities/Chicago">
                <img class="homeImage" src="images/chicago.png">
                <div class="city-title card-title">Chicago</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
